img {
  height: 75px;
}

.product-cell:hover {
  background-color: grey;
}

.product-cell {
  height: 350px;
  padding: 20px;
  border: 1px dashed black;
}

.product-row {
  height: 375px;
}

h1 {
  padding: 20px;
}