<h1>Suppliers</h1>
<div class="container">
  <div class="row product-row">
    <% @suppliers.each do |supplier| %>
        <div class="col-md-3 product-cell">
            <p><%= supplier.name %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>