<h1>Suppliers</h1>
<div class="container">
  <div class="row product-row">
    <ul>
    <% @suppliers.each do |supplier| %>
        <li>
          <%= supplier.name %>
          <ul>
            <li><%= supplier.email %></li>
            <li><%= supplier.phone %></li>
          </ul>
        </li>
      </a>
    <% end %>
    </ul>
  </div>
</div>