<h1>Suppliers</h1>
<div class="container">
  <div class="row product-row">
    <ul>
    <% @suppliers.each do |supplier| %>
        <li>
          <%= supplier.name %>
        </li>
      </a>
    <% end %>
    </ul>
  </div>
</div>